{% extends "pandepascua/base.html" %}
{% load static %}
{% load humanize %}

{% block estilos %}
<link rel="stylesheet" type="text/css" href="{% static 'css/resultados.css' %}">
{% endblock %}

{% block titulo %}
Panes de Pascua
{% endblock %}

{% block banner %}
<h1><a href="/" style="margin-left:5px;color:white; text-decoration:none; float:left"><i class="fas fa-arrow-alt-circle-left"></i></a>Lista de Pan de Pascua <a href="/admin" style="margin-right:5px;color:white; text-decoration:none; float:right"><i class="fas fa-users-cog"></i></a></h1>
{% endblock %}

{% block contenido %}

{% for object in pandepascua%}
<div class="info">
    <p id="Nombre"> <br/>Nombre: {{object.nombre}}</p>
    <p id="Peso">Peso: {{object.peso}} kg.</p>
    <p id="Valor">Valor: ${{object.valor|intcomma}}</p>
    <p> Imagen:</p>
    <p><img src="{{object.image.url}}" style="width:320px;height:320;"></p>
    <p id="Descripcion">Descripcion: {{object.descripcion}}</p>
<br>
</div>
{% endfor %}

{% endblock %}
